@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-zinc-950: #09090b;
  --color-border: rgba(255, 255, 255, 0.1);
}

:root {
  --background: #000000;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: 
    radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
  background-size: 40px 40px, 8px 8px;
  background-attachment: fixed;
}

* {
  border-color: var(--color-border);
}

::selection {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
